---
import ButtonMain from "../misc/ButtonMain.astro";
---
<div class="w-full px-16 mx-auto bg-muted-100 dark:bg-muted-1000 " id="Contacto" x-data="Contacto()"  x-intersect="activeStep = 'spy-2'" >
    
    <div class="my-6  "
    
    >
        
        <div class="bg-muted-900 dark:bg-muted-200  flex items-center flex-cols-2 justify-between rounded-lg overflow-hidden m-5" data-aos="fade-up"
        data-aos-anchor-placement="top-center" data-aos-duration="1500" data-aos-delay="0" data-aos-easing=" ease-in">
          
          <div class="max-w-screen  m-auto text-muted-100   dark:text-muted-800 p-10" >
            <h1 class="text-3xl font-semibold mb-7 ">¡Te Esperamos!</h1>

            <p class="text-muted-100 dark:text-muted-800 text-base sm:text-sm md:text-lg lg:text-xl ">Visítanos y descubre cómo podemos ayudarte a lucir y sentirte mejor.En Elysium tu belleza es nuestra pasión..
            </p>
            <div class="flex flex-cols-2 p-5 mx-5">
              
                  <ButtonMain to={"/login"} class="'w-auto md:w-[80px] lg:w-[100px] bg-black text-white mx-5'"
                    >Turnos</ButtonMain
                  >
                  <ButtonMain to={"/login"} class="'w-auto md:w-[80px] lg:w-[100px] bg-black text-white mx-5'"
                    >Contacto</ButtonMain
                  >
            </div>
            
          </div>

          <div class="w-full h-full">
            
            <img 
            src="/public/hero.svg"
            alt="Gestion de proyectos sociales" 
            class="ml-auto sm:w-auto md:w-2/4 lg:w-4/5 object-cover clip-triangle"/>
          </div>
        </div>
    </div>

    
</div>