<div class="bg-muted-100 dark:bg-muted-1000 px-10" id="elegirnos"  x-intersect="activeStep = 'spy-3'">
<div data-aos="fade-up"
    data-aos-anchor-placement="top-center" data-aos-duration="1500" data-aos-delay="0" data-aos-easing=" ease-in"
    >
    <h2 class="my-24 text-3xl text-violet-500 " >¿Por qué elegirnos?</h2>

    <div class=" grid grid-cols-1 md:grid-cols-3 gap-6 my-10  ">
        <div class="m-auto px-5 shadow-2xl py-16 rounded-xl">
        <img
        src="/public/medicina1.svg"
        alt="imagen1"
        class=" mx-auto "
        />
        <h3 class=" text-center text-violet-500 font-bold">
            Atención Personalizada
        </h3>
        <p class=" text-center text-sm text-muted-500 dark:text-muted-400  font-medium">
            Cada paciente es único, y nos tomamos el tiempo necesario para escuchar tus necesidades 
            y diseñar un plan de tratamiento que te
        </p>
        </div>
        <div class="m-auto px-5 shadow-2xl py-16 rounded-xl">
        <img
        src="/public/medicina2.svg"
        
        alt="imagen2"
        class="mx-auto "
        />
        <h3 class=" text-center text-green-500 font-bold">
            Expertos en Estética
        </h3>
        <p class=" text-center text-sm text-muted-500 dark:text-muted-400 font-medium">
            Nuestro equipo está compuesto por profesionales altamente cualificados con 
            amplia experiencia en el campo de la estética
            y la medicina estética.
        </p>
        </div>
        <div class="m-auto px-5 shadow-2xl py-16 rounded-xl">
        <img
        src="/public/medicina3.svg"
        alt="imagen3"
        class=" mx-auto"
        />
        <h3 class=" text-center text-sky-500 font-bold">
            Tecnología de Punta
        </h3>
        <p class=" text-center text-sm text-muted-500 dark:text-muted-400font-medium">
            Utilizamos equipos de última generación para asegurar que cada tratamiento sea seguro, 
            eficaz y de la más alta calidad.
        </p>
        </div>

</div>
    </div>
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-6 my-10  " data-aos="fade-up"
        data-aos-anchor-placement="top-center" data-aos-duration="1500" data-aos-delay="0" data-aos-easing=" ease-in">

                <img src="/public/fotodeambiente.svg" 
                alt="Ambiente"
                class="relative w-auto mx-auto  "
                />
            
            <div >
            <h2 class="text-3xl text-violet-500 py-14 ">
                Ambiente Confortable
            </h2>
            <p class="text-muted-500 dark:text-muted-400 font-medium">Sabemos lo importante que es tu comodidad, por lo que hemos diseñado un espacio tranquilo
                y relajante,
                donde podrás sentirte en confianza durante todo el proceso.</p>
            </div>

        </div>
        
            <div class="bg-muted-900 dark:bg-muted-200  rounded-lg mx-20 py-20" data-aos="fade-up"
            data-aos-anchor-placement="top-center" data-aos-duration="1500" data-aos-delay="0" data-aos-easing=" ease-in">
            
            <div class="w-full m-auto text-muted-100 dark:text-muted-800 p-10">
                <h1 class="text-3xl font-semibold mb-7 text-center ">Tu Belleza, Nuestra Prioridad</h1>

                <p class="text-muted-100 dark:text-muted-800 font-extralight text-center">En nuestra clínica, no solo nos dedicamos a mejorar tu apariencia,
                    sino a brindarte una experiencia de transformación y bienestar integral. Cada tratamiento está pensado para potenciar tu confianza
                    y ayudarte a sentirte mejor contigo mismo/a.
                </p>  
            </div>

            
        </div>
    </div>