---
import Layout from '../layouts/Layout.astro';
import Loguear from "../components/Loguear.astro";
import Registrar from "../components/Registrar.astro";
import HeroMain from "../components/Hero/HeroMain.astro";

---

<Layout title="Elysium clinic">
	<main>
		<HeroMain/>
		
	</main>
</Layout>

