---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Loguear from "../components/Loguear.astro";
import Registrar from "../components/Registrar.astro";

---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar/>
		<Loguear/>
		<Registrar/>
		
	</main>
</Layout>

