---
import Loguear from "../components/Loguear.astro"
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Login">

	<Loguear />
	<div class="flex justify-center items-center">
		<a href="/" class="text-2xl   ">
			<button class="bg-[#8080fb] hover:bg-[#5f5fff] text-white py-2 px-4 rounded mt-5 ">volver</button>
		</a>
	</div>
	<Footer/>
</Layout>









