---

---

<a href="/login" class="text-2xl  ">
	<button class="bg-[#8080fb] hover:bg-[#5f5fff] text-white py-2 px-4 rounded mt-5 ">Login</button>
</a>

<a href="/registro" class="text-2xl  ">
	<button class="bg-[#8080fb] hover:bg-[#5f5fff] text-white py-2 px-4 rounded mt-5 ">Registrar</button>
</a>